<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>
    <% include partials/navbar %>

    <div class="container mt-5">
      <div class="row">
        <% if (results.candidates.length) { %>
          <% results.candidates.forEach(function (candidate) { %>
            <div class="card border-light col-sm-4">
              <img src=<%= candidate.photoUrl %> class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center"><%= candidate.name %></h5>
                <h6 class="card-title text-center">Party: <%= candidate.party %></h6>
                  <div class="clear-fix container">
                    <a href="#" class="btn btn-primary float-left">See Info</a>
                    <a href="#" class="btn btn-primary float-right">Select</a>
                  </div>
              </div>
            </div>
          <% }) %>
        <% } else { %>
          <h1>nothing</h1>
        <% } %>
      </div>
    </div>

    <% include partials/script %>
</body>
</html>